$primary_color : #FFD700;
body {
    background-color: #ededed;
}
.bg-gold,.btn-gold {
    background-color: $primary_color;
}
.img-header {
    @extend .py-2;
}
.prmt-price {
    @extend .font-weight-bold;
    color:#B22222;
}
.prmt-img {
   @extend .img-fluid;
}

